    /* ===== Reset y Configuración General ===== */

    /* Elimina botones de número en campos numéricos */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    html{
        scroll-behavior: smooth;
    }

    /* ===== Sección del Slider ===== */

    .hero-section {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .hero_container {
        height: 100%;
    }

    .carousel-item {
        height: 100vh;
    }

    .carousel-item img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .titles-section {
        z-index: 10;
        color: rgb(239, 246, 255);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .contact-title {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .contact-subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    /* ===== Sección de Contacto ===== */
    .contact {
        padding: 50px 0;
    }

    .contact-container {
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 0 4px 50px rgba(0, 0, 0, 0.171);
        overflow: hidden;
    }

    .contact-left {
        background-color: #006400;
        padding: 40px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }

    .contact-left::before,
    .contact-left::after {
        content: '';
        position: absolute;
        background-color: #1E52CA;
        border-radius: 50%;
        z-index: 0;
    }

    .contact-left h3,
    .contact-left img {
        position: relative;
        z-index: 1;
    }

    .contact-left img {
        display: block;
        margin: 0 auto;
    }

    .contact-right {
        padding: 40px;
    }

    .contact-right .row {
        margin-bottom: 20px;
    }

    .contact-form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        max-width: 600px;
        margin: 0 auto;
    }


    /* Estilos para los inputs */
    .form-control {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        padding: 10px 0;
        background-color: transparent;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #28a745;
    }

    /* Estilo para el textarea */
    textarea.form-control {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .form-group label {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    

    button {
        padding: 10px 20px;
        background-color: #3A6AD8;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #2a52b0;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-small {
        padding: 5px 10px;
        font-size: 14px;
        width: auto;
        height: auto;
    }
    .custom-btn {
        width: 120px; 
        margin-right: 0;
    }




    /* ===== Media Queries ===== */

    @media screen and (max-width: 968px) {

        .titles-section {
            padding: 0 20px;
        }

        .contact-title {
            font-size: 2.5rem;
        }

        .contact-subtitle {
            font-size: 1.2rem;
        }

        .contact-left,
        .contact-right {
            padding: 20px;
        }

        .contact-left h3 {
            font-size: 1.5rem;
        }

        .contact-left img {
            width: 100%;
        }

        .contact-right {
            padding: 20px;
        }

        .contact-form {
            padding: 20px;
        }

        .contact-container {
            box-shadow: none;
        }
    }

    @media screen and (max-width: 425px) {

        .custom-btn {
            width: 100%; 
            text-align: left;
        }
        
        .titles-section {
            padding: 0 15px;
        }

        .contact-title {
            font-size: 1.8rem;
        }

        .contact-subtitle {
            font-size: 1rem;
        }

        .contact-left,
        .contact-right {
            padding: 10px;
        }

        .contact-left h3 {
            font-size: 1.2rem;
        }

        .contact-left img {
            width: 100%;
        }

        .contact-right {
            padding: 10px;
        }

        .contact-form {
            padding: 10px;
        }

        .contact-container {
            box-shadow: none;
            padding: 0;
        }

        .form-group label {
            font-size: 0.9rem;
        }

        input {
            font-size: 0.9rem;
        }

        button {
            padding: 8px 16px;
            font-size: 0.9rem;
        }
    }