@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --text-white: #e2e2e2;
  --text-black: #000000;
  --bg-black: #000000;
  --nav-select: #2c2f34;
  --bg-dropdown: #d9d9d9;
  --footer-bg: #263060;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.button-form {
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

#contactForm button[type="submit"]:hover {
  background-color: #2e58aa;
}

.input-form {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50%;
  background-color: #d9d9d9;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  margin-top: 3px;
}

.textarea-form {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 161px;
  background-color: #d9d9d9;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  margin-top: 3px;
  resize: none;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  display: block;
  padding: 10px 66px;
  background-color: #263060;
  border-radius: 19px;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  color: #fff;
}

.btn-secondary {
  display: block;
  padding: 3px 20px;
  background: rgba(38, 48, 96, 0);
  border-radius: 19px;
  border: 1px solid #263060;
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  color: #263060;
}

input {
  outline: none;
  border: none;
}

.form-buttons {
  margin-top: 30px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
}

.form-buttons p {
  margin-top: 25px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

/* ABOUT  */
.about_container {
  display: flex;
  width: 60%;
  padding: 50px 0;
  justify-content: space-between;
  margin: 0 auto;
}

.about_container__title {
  font-weight: normal;
  font-size: 24px;
  cursor: pointer;
  color: #263060;
}

.about_container__title:hover {
  font-weight: bold;
}

.hide_text {
  display: none;
}

.nosotros__text h2 {
  font-size: 3rem;
  padding: 15px 0;
}

.container_valores {
  display: flex;
  /*gap: 10rem 6rem;*/
  margin-bottom: 100px;
}

.container_valores__item {
  background-color: #203565;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  min-height: 10px; /*cambio realizado 13-03-2024*/
  height: auto;
  border-radius: 10%;
}

.cards_valores {
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 80px;
  position: relative;
  margin: 20px;
}

.card_valores__info h3 {
  font-size: 20px;            /*se realizo cambios 13-03-2024*/
  margin-bottom: 10px;        /*se realizo cambios 13-03-2024*/
  color: #ffffff; 
  margin-top: 25px;          /*se realizo cambios 13-03-2024*/
}

.card_valores__info p {
  width: 100%;
  font-size: 50px;
}

.card_valores__arrows span {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

.card_valores__arrows span:nth-child(1) {
  right: 100%;
  top: 50%;
  translate: 0 -50%;
}

.card_valores__arrows span:nth-child(2) {
  left: 100%;
  top: 50%;
  translate: 0 -50%;
}
/* ICON WHATSAPP  */

.icon-whatsapp {
  display: block;
  background-color: #25D366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  z-index: 9999; 
  bottom: 1.5rem;
  right: 1.8rem;
  transition: background-color .2s ease;
}
.icon-whatsapp div{
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
}
.icon-whatsapp div i{
  font-size: 3.5rem;
  color: #fff;
  transition: color .2s ease;
}
/* .icon-whatsapp:hover i {
  color: #25D366;
} */
.icon-whatsapp:hover{
  background-color: #fff;
}
.icon-whatsapp:hover div i:before {
  filter: invert(48%) sepia(65%) saturate(4100%) hue-rotate(118deg) brightness(101%) contrast(101%);
}

@media (max-width: 1400px) {
  .nosotros__text .cards_valores .card_valores__arrows span:nth-child(2) {
    top: 100%;
    translate: 50% 0;
    right: 0;
    left: 50%;
  }

  .nosotros__text .cards_valores .card_valores__arrows span:nth-child(1) {
    top: 100%;
    translate: -50% 0;
    left: 50%;
  }
}

.hide_element {
  display: none !important;
}

/* ABOUT  */