footer {
    background-color: rgb(60, 62, 63); /* Fondo negro */
    color: white; /* Color del texto */
    padding: 2rem 0; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    position: relative;
}
.linea-medio {
    border-top: 3px solid #00c3ff; /* Línea de 3px de grosor y color naranja */
    width: 80%; /* Ajusta el ancho de la línea según lo que necesites */
    margin: 2rem auto; /* Centra la línea horizontalmente y agrega margen arriba y abajo */
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.ultimo{
    overflow:hidden;
    width:38%;
    margin:auto;
    transition:background-color .5s;
    border-radius:50%
}
.boton_final{
    display:block;
    width:100%;
    margin:auto;
    overflow:hidden
}
.imagen_final{
    transform:scale(.8);
    width:100%;
    height:100%;
    display:block;
    transition:transform 3
}
.ultimo:hover .imagen_final{
    transform:scale(1.1)
}
@media screen and (min-width:945px){
    footer{
        margin:1rem 0
    }
    .ultimo{
        width:15%;
        right:10px;
        top:55%
    }
}
.direccion{
    text-align:center;
    color:#daeaec
}
.direccion__item{
    margin:.5rem 0
}
.sociales__item{
    color:hsl(199, 55%, 63%)
}
.direccion{
    margin-bottom:1rem;
    font-size:.8rem
}
@media screen and (min-width:630px){
    .direccion{
        font-size:1.2rem
    }
    .ultimo{
        width:20%;
        right:0;
        top:55%
    }
}
.sociales{
    font-size:1.8rem;
    text-align:center;
    margin:1rem 0
}
.color{
    color:hsl(216deg,85%,34%)
}