footer {
    background-color: rgb(60, 62, 63); /* Fondo negro */
    color: white; /* Color del texto */
    padding: 2rem 0; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    position: relative;
    padding-top: 112px;
    padding-bottom: 70px;
}
.linea-medio {
    border-top: 3px solid #00c3ff; /* Línea de 3px de grosor y color naranja */
    width: 80%; /* Ajusta el ancho de la línea según lo que necesites */
    margin: 2rem auto; /* Centra la línea horizontalmente y agrega margen arriba y abajo */
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/*Boton de visualizar mis propuestas*/
.btn-visualizer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 218px;
    background: linear-gradient(135deg, #809c95, #7bb4fe);
}

.btn-visualizerh{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 230px;
    box-shadow: 0 2px 4px #000;
}
.btn-visualizerh:hover{
    background-color: #D1D2D4;
}
.btn-visualizerimg{
    width: 77px;
    border-radius: 50%;
}
.btn-visualizerh p{
    color: hsl(216deg, 85%, 34%);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    height: 40px;
    font-family: 'Proxima-Nova-Regular';
}

@media (max-width: 1536px) {
    .btn-visualizerh p{
        font-size: 14px;
    }
    .btn-visualizerimg {
        width: 59px;
    }
    .btn-visualizerh{
        width: 183px;
        padding-top: 10px;
    }
}

/*----*/
.imagen_final{
    transform:scale(.8);
    width:100%;
    height:100%;
    display:block;
    transition:transform 3
}
.ultimo:hover .imagen_final{
    transform:scale(1.1)
}
@media screen and (min-width:945px){
    .ultimo{
        width:15%;
        right:10px;
        top:55%
    }
}
.direccion{
    text-align:center;
    color:#daeaec
}
.direccion__item{
    margin:.5rem 0
}
.sociales__item{
    color:hsl(199, 55%, 63%)
}
.direccion{
    margin-bottom:1rem;
    font-size:.8rem
}
@media screen and (min-width:630px){
    .direccion{
        font-size:1.2rem
    }
    .ultimo{
        width:20%;
        right:0;
        top:55%
    }
}
.sociales{
    font-size:1.8rem;
    text-align:center;
    margin:1rem 0
}
.color{
    color:hsl(216deg,85%,34%)
}