* {
    box-sizing: border-box;
    font-family: 'Proxima-Nova-Regular';
}

body {
    background-color: #F5F5F5;
    ;
}

figure {
    margin: 0;
    padding: 0;
}
.main__nosotros{
    
    color: #5F5F5F;
    margin-bottom: 2rem;
}

.nosotros__titulo{
    text-align: center;
    font-family: 'Proxima-Nova-SemiBold';
    color: hsl(216deg, 85%, 34%);
    margin: 2rem 0;

}
.nosotros__texto{
    text-align: justify;
    width: 95%;
    margin: 0 auto;
    padding: 0 .7rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
}

.vision__titulo{
    font-size: 28px;
    font-family: 'Proxima-Nova-SemiBold';
    color: hsl(216deg, 85%, 34%);
    margin: 2rem 0;
    text-align: center;
}
.vision__texto{
    width: 95%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 .7rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
}
.vision__imagen{
    padding: 0 1.2rem;
    margin-bottom: 1rem;
}
.vision__img{
    width: 100%;
}
.d-none{
            display:none;
        }
        
        .nosotros__titulo{
            margin-top: 100px;
            
        }
        @media(min-width: 900px){
                .nosotros__titulo{
            margin-top: 20px;
            
        }            
        }

@media (max-width: 576px)
{
    .vision__img
    {
        content: url("https://www.neonhouseled.com/public/imagenes/nosotros/visionM.webp") !important;
        width: 322px !important;
        height: 263px !important;
        display:block;
        margin: auto;
    }
    .mision__img
    {
        content: url("https://www.neonhouseled.com/public/imagenes/nosotros/misionM.webp") !important;
        width: 322px !important;
        height: 263px !important;
        display:block;
        margin: auto;
    }
}
.mision__titulo{
    font-size: 28px;
    font-family: 'Proxima-Nova-SemiBold';
    color: hsl(216deg, 85%, 34%);
    margin: 2rem 0;
    text-align: center;
}
.mision__texto{
    width: 95%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 .7rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
}
.mision__imagen{
    padding: 0 1.2rem;
    margin-bottom: 1rem;
}
.mision__img{
    width: 100%;
}



@media screen and (min-width:630px) {
    .section{
        width: 85%;
        margin: 0 auto;
        display: flex;
        padding-top: 2rem;
        margin-bottom: 3.5rem;
    }

    .vision{
        flex: 1;
        margin-right: 1rem;
    }
    .mision{
        flex: 1;
        border-bottom: 1px solid;
    }
    .nosotros__titulo{
        font-size: 50px;
        margin:2rem 0;
    }
    .nosotros__texto{
        width: 85%;
        padding: 0 7rem;
        padding-bottom: 2rem;
    }
    .mision__texto{
        border: none;
    }
    .mision__titulo,.vision__titulo{
        font-size: 36px;
        margin-bottom: 2rem;
    }
    .mision__texto,.vision__texto,.nosotros__texto{
        font-size: 17px;
    }

    .mision__texto,.vision__texto{
        padding: 2rem 0;
    }
}